
ASI_1_API_KEY = {Insert your asi:1 api keyt}

SUPPLIER_ORCHESTRATOR_SEED = {Seed for orchestrator agent}

COMPLIANCE_AGENT_SEED = {Seed for compliance agent}
DEMAND_AGENT_SEED = {Seed for demand agent}

COMPLIANCE_AGENT_ADDRESS = {Address for compliance agent }

DEMAND_AGENT_ADDRESS = {Address for demand agent}

LOGISTICS_AGENT_ADDRESS = {Address for logistics agent}
LOGISTICS_AGENT_SEED = {Seed for logistics agent}

FIND_SUPPLIER_SEED = {Seed for find supplier agent}

FIND_SUPPLIER_ADDRESS = {Address for finding the supplier}


SUPABASE_URL = {Supabase url}
SUPABASE_KEY = {Supabase key}

GEMINI_API_KEY = {Insert your gemini key}

DEMAND_AGENT_ENDPOINT = {Demand Agent endpoint}

LOGISTICS_AGENT_ENDPOINT = {Logistics Agent endpoint}

CHROME_USER_AGENT = Chrome user agent string used to mimic a real browser
